@import "/node-modules/modern-normalize/modern-normalize.css";
@import "/node-modules/reset-css/reset-css.css";

body {
    background-color: #000;
    color:#fff;

    .world {
        height:100vh;
        width:100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: fixed;

        &__inner {
            max-width: 400px;
            width:100%;

            #building {
                width:100%;
                border:5px solid #ffffff;
                position: relative;
                box-sizing: border-box;
                display:flex;
                flex-direction: column-reverse;
                
    
                .floor {
                    height:60px;
                    border-bottom:1px dotted #fff;
        
                    &:last-child {
                        border-bottom:none;
                    }

                    .passenger {
                        display: inline-flex;
                        flex-direction: column;
                        align-items: center;
                        margin:1px;

                        &.delivered {
                            float:right;
                        }

                        span {
                            margin-bottom:4px;
                        }
                    }
                }
        
                .elevator {
                    height:60px;
                    width:40px;
                    border:2px solid #fff;
                    position:absolute;
                    bottom:0;
                    left:100px;
                }
            }
    
            .controls {
                margin-top:20px;
                box-sizing: border-box;
                width:100%;
                border:1px solid greenyellow;
                display: flex;
                flex-wrap: wrap;

                button {
                    margin:5px;
                    background-color:greenyellow;
                    color:black;
                    padding:10px;
                    border:none;
                    cursor: pointer;
                }
            }
        }
    }
}